


/* Mobile */
@media all and (max-width: 600px), all and (max-device-width: 600px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size     : 1.8em;
        letter-spacing: calc(0.07em * 18/20 * 1.8/2.1);
    }

    h2 {
        font-size     : calc(1.5em * 18/20 * 1.8/2.1);
        letter-spacing: calc(0.015em * 18/20 * 1.8/2.1);
    }

    .neotech-comments p {
        width: 70%;
    }
}